node_modules
# Keep environment variables out of version control
.env
.editorconfig
.vscode
src/shared/infra/db/migrations/*
!src/shared/infra/db/migrations/.gitkeep
.idea/
build/
temp/
dist/
tmp/*
!tmp/.gitkeep
